@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* html {
  font-family: 'Inter', sans-serif;
} */

:root {
  /* #111318  111827 */
  --background: #fbfdff;
  --foreground: #171717;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.light-teal {
  background-color: #fcfdff;
}

.dark {
  --background: #0b0c10;
  --foreground: #f1f1f1;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

* {

 transition: background-color 0.3s ease-in-out,
              color          0.3s ease-in-out,
              border-color   0.3s ease-in-out,
              box-shadow     0.3s ease-in-out;
  box-sizing: border-box;
}


/* Prevent flex children from overflowing */
.slide-container {
  flex: 0 0 100%;
  width: 100%;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

.bg-black-home {
  background-color: #111318;
}


Link, Button {
  cursor: pointer !important;
}